Options -Indexes
<FilesMatch "\.(json|bak)$">
    Require all granted
    <IfModule mod_headers.c>
        Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    </IfModule>
</FilesMatch>
